*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #0E0837;
}
:root{
    --firstcontainer:#0E0837;
    --welcome:#D6135E;
    --buttons2page:#BB2D3B;
    --secondpagecard:#100726;
}

.mainpage{
    margin-top: 10%;
}

.anim{
    background-image: url('https://media.giphy.com/media/1xNBjdWUErvYDRAM2u/giphy.gif');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spotify,.music, .cloud, .cassette{
    font-size: 25px;
    color: azure;
    transition: all 0.3s;
}

.spotify:hover,.music:hover, .cloud:hover, .cassette:hover{
    transform: translateY(-15px);
    color: #D6135E;
}

.second-page{
    margin: 5% auto;
}

.secondpageimage{
    background-image: linear-gradient(#D6135E,#47070e);
}

.imgbackground, .imgg,.img-text{
    transition: all 1s;
}

.imgbackground:hover, .imgg:hover, .img-text:hover{
   transform: translate(90px,-90px);
   border-radius: 50%;
}

